.header{
  background-image: url(../images/backgrounds/landing.jpg);
  height: 600px;
  background-attachment: fixed;
}
.logoimg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
}
.tagline{
  text-align: center;
  font-style: normal;
  font-weight: 600;
  width: 30%;
  margin-left: 35%;
  color: white;
}
.btn{
  border-color: #F15A29;
  background-color: white;
  color:#F15A29;
}
.happy-hour, .party-time{
  height: 95px;
  font-size: 2.5rem;
  text-align: center;
  padding-top: 35px;
}
.party-time{
  background-color: #F15A29;
  color: #fff;
}
p.meal {
  font-style: italic;
  color: #fff;
  text-align: center;
  padding-top: 90px;
  font-size: 2.5rem;
}
.breakfast, .lunch, .dinner{
  height: 200px;
  background-size: cover;
}
.breakfast{
  background-image: url('../images/foodtop/breakfast.jpg');
}
.lunch{
 background-image: url('../images/foodtop/lunch.jpg');
}
.dinner{
  background-image: url('../images/foodtop/dinner.jpg');
}
.breakfast:hover{
  background-image: linear-gradient(rgba(247, 247, 247, 0.3), rgba(247, 247, 247, 0.3)), url(../img/foodtop/breakfast.jpg);
}
.lunch:hover{
  background-image: linear-gradient(rgba(247, 247, 247, 0.3), rgba(247, 247, 247, 0.3)), url(../img/foodtop/lunch.jpg);
}
.dinner:hover{
  background-image: linear-gradient(rgba(247, 247, 247, 0.3), rgba(247, 247, 247, 0.3)), url(../img/foodtop/dinner.jpg);
}
.drink1{
  padding-left: 5;
}
.title2{
  font-weight: 700;
  font-size: 16px;
  padding: 2%;
  background-color: #ddd;
  text-align: center;
}
.title1{
 background-color: white;
 color:#F15A29;
 font-size: 18px;
}
.images{
  padding-left: 6%;
  padding-bottom: 1.5%;
  padding-right: 5%;
  padding-top: 3%;
}
.images {
  color: #F15A29;
  text-align: center;
  padding-top: 2%;
}
.foods{
  background-color: white;
  padding-right: 125px;
  padding-left: 108px;
}
.big{
  background-image: url('../images/backgrounds/foodsBg.jpg');
}
.tab {
  overflow: hidden;
  background-color: #f1f1f1;
  border: none;
  outline: none;
}
.drinks{
  text-align: right;
  word-break: keep-all;
  padding-left: 170px;
}
.customers{
  border-right: 1px solid #ccc;
}
.our{
 text-align: center;
}
.container.meals-list {
  width: 77vw;
  background-color: #fff;
}
.meals-titles {
  background-color: #ddd;
  font-size: 1.7rem;
  font-weight: 700;
  text-align: center;
}
.meal-title{
  padding: 2%;
  border-left: 1px solid #ccc;
  padding-top:1 0px;
}
.meal-fast-food{
 background-color: white;
}
.meals-images{
  padding-left: 6%;
  padding-bottom: 1.5%;
  padding-right: 5%;
}
.meal-image-text {
  color: #F15A29;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  padding-top: 4%;
}
.buttons{
 display: inline-block;
}
#Menu{
 clear: right;
}
.Happy{
  color: #F15A29;
  text-align: center;
}
#Happy{
 text-align: center;
}
.subscribe{
  background-image: url(../images/backgrounds/subscribe.jpg);
  height: 200px;
  text-align: center;
  padding-top: 50px;
  color: white;
  background-attachment: fixed;
}
.about{
 color: #F15A29;
}
#subscribe{
  background-color: #F15A29;
  margin-left: 50px;
  width: 80px;
}
#email{
  margin-left: 20px;
  width: 300px;
}
.review{
  margin-top: 4%;
  margin-bottom: 4%;
  width: 73%;
  margin-left: 14%;
  border: 1px solid #ccc;
  padding: 2px;
}
.footer {
height: 220px;
padding-left: 568px;
background-color: #F15A29;
padding-top: 36px;
color:white;
}
.bar1,.bar2,.bar3{
  width: 45px;
  height: 2px;
  background-color: white;
  margin: 8px 0;
  transition: 0.4s;
}
.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  background-color: transparent;
}
.dropbtn:hover, .dropbtn:focus {
    background-color: #F15A29;
}
.dropdown {
    position: relative;
    display: inline-block;
    padding-left: 60px;
    padding-top: 60px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #F15A29;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #ddd}
.show {display:block;}
.logo{
  text-align: center;
  margin-top: -109px;
}
.menu{
  background-color:#F15A29;
  padding-left: 584px;
  height: 200px;
  padding-top: 26px;
  color: white;
}
.we{
 padding-right: 70px;
}
.contacts{
  padding: 9px;
}
