.header{
  background-image: url(../images/backgrounds/landing.jpg);
  height: 550px;
}
.logoimg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px
}
.tagline{
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-family: raleway;
  src: url(<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">);
}
.fastfood{
  float:right;
  padding-top: 50px;
  padding-left: 160px;
  border-radius: 4px;
}
.food{
  float: right;
  word-wrap: break-word;
  margin-left:60px;
  margin-right: 160px;
  }
.btn{
  border-color: #F15A29;
  background-color: white;
  color:#F15A29;
  }
.tab {
  overflow: hidden;
  background-color: #f1f1f1;
  border: none;
  outline: none;
}
  .drinks{
  text-align: right;
  word-break: keep-all;
  padding-left: 170px;
  }
.types{
  height: 200px;
  margin-left: 10px;
  margin-right: 10px;
}
.images{
  border-width: thick;
}
.chicken{
  padding-right: 150px;
  text-align: center;
  color: #F15A29;
}
.beef{
  text-align: center;
  color: #F15A29;
}
.pizza{
  text-align: center;
  color: #F15A29;
}
.customers{
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 90px;
  margin-bottom: 90px;
}
#happy{
  height: 105px;
  text-align: center;
  margin-left: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
}
#party{
  background-color:#F15A29;
  height: 105px;
  text-align: center;
  margin-left: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.our{
  text-align: center;
}
.buttons{
  display: inline-block;
}
.Happy{
color: #F15A29;
text-align: center;
}
#Happy{
text-align: center;
}
.subscribe{
  background-image: url(..images/backgrounds/subscribe.jpg);
  height: 200px;
  text-align: center;
}
.about{
  color: #F15A29;
}
#subscribe{
  background-color: #F15A29;
  margin-left: 400px;
}
#email{
  margin-left: 100px;
}
.menu{
  background-color: #F15A29;
  align-items: center;
  padding-left: 520px;
  padding-right: 520px;
  height: 200px;
}
