.header{
  background-image: url(../images/backgrounds/landing.jpg);
  height: 550px;
}
.logoimg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px
}
.tagline{
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-family: raleway;
  src: url(<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">);
}
.fastfood{
  float:right;
  padding-top: 50px;
  padding-left: 160px;
  border-radius: 4px;
}
  .food{
    float: right;
    word-break: break-all;
  }
  .drinks{
    text-align: right;
  }
.types{
  background-image: url(images/backgrounds/foodsBg.jpg);
}
